@charset "UTF-8";
@import '../../common/_base/_configure.scss';
@import '../../common/reset/reset.scss';
@import '../../common/module/header.scss';
@import '../../common/module/list.scss';
@import '../../common/module/title.scss';
@import '../../common/plugin/swiper.scss';
@import '../../common/module/swiper-list.scss';
@import '../../common/layer/layer.scss';
@import '../../pages/notFind/notFind.scss';
/*==========app下载提示===========*/
.download{
	height: rem(80);
	line-height: rem(80);
	background-color: #FFEB9E ;
	padding: rem(0 30);
	line-height: rem(80);
	position: relative;
	.download-tip{
		color: #887305;
		font-size: rem(32);
	}
	.download-btn{
		position: absolute;
		top:rem(20);
		right: rem(20);
		width: rem(32);
		height: rem(32);
		background: url(../../../images/index/down-btn.png) no-repeat;
		background-size: cover;
	}
}
/*===============滑动底部的横线===============*/
.hr{
	height: 1px;
	background-color: #E4E4E4;
	margin:rem(40 30 0);
	transform:scaleY(0.5);
}
/*===============list顶部单独处理===============*/
.goods-list{
	margin-top: 0;
}



/*=============上拉加载更多===============*/
.dropload-up,
.dropload-down {
  img{
	width: rem(90);
	height: auto;
	margin: 0 auto;
  }
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%; }
.dropload-refresh,
.dropload-update,
.dropload-load {
  font-size: rem(24);
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
.dropload-load .loading {
  font-size: rem(24);
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle; }

/*============= 老虎机banner ===============*/
.banner{
	display: block;
	a{
      display: block;
      width: 100%;
      height: rem(400);
      background-size:100%;
	}
}

.noMore {
	width:100%;
	height:rem(75);
	line-height: rem(75);
	text-align: center;
	font-size: rem(30);
	color: #CCC
}