@charset "UTF-8";
@import '../../common/_base/_configure.scss';
/*搜索弹层样式*/
.search-layer{
  background: #fff;
  .search-content{
    padding: 0 rem(30);
    .search-content-title{
      font-size: rem(28);
      color: #666;
      height: rem(78);
      line-height: rem(78);
      .search-content-del{
        float: right;
        width: rem(100);
        height: 100%;
        background: url("../../../images/common/delete.png") no-repeat center center;
        background-size: rem(40) auto;
        -webkit-background-size: rem(40) auto;
      }
    }
    .search-history{
      font-size: rem(36);
      li{
        @include ellipsis(mobile,1);
        height: rem(78);
        line-height: rem(78);
        color: #333;
        a{
          display: block;

        }
      }
    }
  }
}