<% include ../public/header.ejs %>
	<header class="header">
		<a class="header-back-to" href="javascript:;" @click="goback()"></a>
		<h3 class="header-title">INVITE REGISTRATION</h3>
	</header>
	<div class="img"></div>
	<section class="register-section">
		<div class="register-input">
			<div class="register-input-phone">
				<input type="tel" class="register-input-input" maxlength="10" autocomplete="off" id="username" placeholder="Mobile No (Only India mobile number )" value="" disabled="disabled">
			</div>
			<div class="register-input-pwd">
	            <input type="password" class="register-input-input" maxlength="20" autocomplete="off" id="password" placeholder="New  Password" value="" @focus="hideTS($event)" @blur="showTS($event)" @input="isNext($event)">
	        </div>
		</div>
		<div class="register-btn">
	        <a class="btn btn-yellow disabled" href="javascript:;" id="register" @click="nextStep($event)">DONE</a>
	    </div>
	</section>
<% include ../public/footer.ejs %>