@charset "UTF-8";
@import '../../common/_base/_configure.scss';
@import '../../common/reset/reset.scss';
@import "../../common/layer/layer.scss";

html{
   background: #e5e5e5;
}
.jump-title {
  background: #fff;
  border-bottom:1px solid #e5e5e5;
  p {
    font-size: .36rem;
    line-height: .8rem;
    text-align: center;    
  }
}
.jump-con1{
    background: #fff;
    height: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  img {
   float: left;
   margin: .2rem;
   border-radius: .4rem;
   width: 1.6rem;
   height: 1.6rem;
   border-radius:0.8rem;
   border:1px solid #e5e5e5;
  }
  .right-box{
       font-size: .36rem;
       width: 100%;
     }
  .right-line{
      padding-top: .3rem;
      span{
      margin-left:.1rem;

      }
  }      
}
.jump-con2{
    margin-top: .1rem;
    background: #fff;
    line-height: .8rem;
    text-align: center;
    font-size: .36rem;
}
.jump-edition{
    background: #fff;
    margin-top: 7rem;
    font-size: .36rem;
    line-height: .8rem;
    padding-left: .2rem;
  span{
   margin-left:.5rem;
   margin-right:.2rem;
  }
}
.login-btn  {
  height: 0.88rem;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-size: .36rem;
    width: 50%;
    text-align: center;
    margin: .32rem 25%;
    border-radius: .5rem;
     }
.login-btn  {
  height: 0.88rem;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-size: .36rem;
    width: 50%;
    text-align: center;
    margin: .32rem 25%;
    border-radius: .5rem;
    /* padding-top: .2rem; */ }
.login-btn a {
    line-height: 0.88rem;
    height: 0.88rem;
    padding-top: .2rem;
    width: 100%;
    padding: .32rem 1.2rem;
}