<% include ../public/header.ejs %>
<section>
	<div id="goodDetailLayer" class="alert">
		<div class="box">
			<!-- <span class="box-btn" id="closeLayer"></span> -->
			<h4 class="box-title">How It Works</h4>
			<h5 class="box-sub-title" style="padding-top:0 ">Step One</h5>
			<p class="box-para">Sign up and log in GOMEPLUS for free.</p>
			<h5 class="box-sub-title">Step Two</h5>
			<p class="box-para">Click Button " TAP HERE TO BUY"  to get a certain product in GOMEPLUS, you will be re-directed to Flipkart to purchase the product.</p>
			<h5 class="box-sub-title">Step Three</h5>
			<p class="box-para">When you complete your purchase in the third-party platform re-directed from GOMEPLUS, you will have some CASHBACK from GOMEPLUS. This will be added to " MY ORDER " within 72 hours. We will notify your cashback status through SMS.</p>
			<h5 class="box-sub-title">Step Four</h5>
			<p class="box-para">When your CASHBACK order is approved by Flipkart, you will receive this CASHBACK after 30 days.</p>
			<h5 class="box-sub-title">Step Five</h5>
			<p class="box-para">Your CASHBACK can be redeemed to Flipkart gift card.</p>
			<h4 class="box-title">Terms & Conditions</h4>
			<div class="box-para-box">
				<p class="box-para" style="padding-top:0 ">When your CASHBACK order is approved by Flipkart, you will receive this CASHBACK after 30 days.</p>
				<p class="box-para">Due to the approval rules of Flipkart, we’re really sorry that it may be some errors between the displayed cashback and the actually received cashback. Please follow the REAL number in the cashback order details.</p>
			</div>
		</div>
	</div>
</section>
</body>
</html>