<!DOCTYPE html>
<html lang="en" data-use-rem="750">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="国美Plus" />
    <meta name="description" content="国美Plus" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="google" value="notranslate">
    <meta name="author" content="gome" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-title" content="国美Plus">
    <meta name="applicable-device" content="mobile">
    <title>Registration Agreement</title>
    <style>
		*{margin:0;padding:0;}
		ul,li{list-style:none;}
		h3{font-weight:400;font-size:.3rem;}
		.header{margin: 0rem 0.3rem;position: relative;height: 0.96rem;}
		.header:before {content: '';position: absolute;right: 0;bottom: 0;height: 1px;width: 100%;background-color: #E4E4E4;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
		.header .header-back-to {position: absolute;width: 0.9rem;height: 0.9rem;top: 0;left: -0.3rem;background:url(<%=config.wapcsspath%>/images/common/go-back.png) center center no-repeat;background-size: 0.36rem 0.36rem;}
		.header .header-title {font-weight: 400;font-size: 0.36rem;color: #333;line-height: 0.98rem;text-align: center;}
		.container{margin:0 .6rem;line-height:.48rem;font-size:.3rem;padding-bottom:.3rem;}
		.agreement dt{font-weight:600;padding:.5rem 0 .3rem 0;color:#333;}
		.agreement dd{color:#666;}
		.sec-agreement h3,.sec-agreement p,.sec-agreement ul{padding-bottom:.3rem;}
		.sec-agreement .no-padding{padding:0;}

    </style>
</head>
<body>
<script>
    (function(win){var doc=win.document,html=doc.documentElement,option=html.getAttribute("data-use-rem");if(option===null){return}var baseWidth=parseInt(option).toString()==="NaN"?640:parseInt(option);var grids=baseWidth/100;var clientWidth=html.clientWidth||320;html.style.fontSize=clientWidth/grids+"px";var testDom=document.createElement("div");var testDomWidth=0;var adjustRatio=0;testDom.style.cssText="height:0;width:1rem;";doc.body.appendChild(testDom);var calcTestDom=function(){testDomWidth=testDom.offsetWidth;if(testDomWidth!==Math.round(clientWidth/grids)){adjustRatio=clientWidth/grids/testDomWidth;var reCalcRem=clientWidth*adjustRatio/grids;html.style.fontSize=reCalcRem+"px"}else{doc.body.removeChild(testDom)}};setTimeout(calcTestDom,20);var reCalc=function(){var newCW=html.clientWidth;if(newCW===clientWidth){return}clientWidth=newCW;html.style.fontSize=newCW*(adjustRatio?adjustRatio:1)/grids+"px"};if(!doc.addEventListener){return}var resizeEvt="orientationchange" in win?"orientationchange":"resize";win.addEventListener(resizeEvt,reCalc,false);doc.addEventListener("DOMContentLoaded",reCalc,false)})(window);
</script>
	<% if(source != "app"){ %>
    <header class="header">
		<a class="header-back-to" href="javascript:history.go(-1);"></a>
		<h3 class="header-title">Registration Agreement</h3>
	</header>
	<% }%>
	<section class="container">
	<dl class="agreement">
			<dt>Prompt Statements </dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>Welcome to reading the users’ service agreement of GOME PLUS INDLA INTERNET TECHNOLOGY PRIVATE LIMITED GOMEPLUS. This agreement will clarify the necessary clauses and conditions you should obey when you choose to use GOMEPLUS service platform. Other valid components of this agreement include the main body of the agreement, agreements and clauses suggested by the GOMEPLUS platform including but not limited to every rule explicitly referred and the clauses which have been brought into the agreement because of mentioning. If you register as the user of GOMEPLUS platform, we will take granted for you having read, understood and accepted all the clauses and terms under this agreement, every rule this agreement has referred to and other terms related to this agreement under the GOMEPLUS platform.</h3>
						<p class="no-padding">During reading this agreement, if you do not agree with this agreement or any clause in the agreement, please terminate the registration immediately. </p>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>One. Service Contents:</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. GOMEPLUS can provide you services not limited to:</h3>
						<p>GOMEPLUS platform APP including any APP owned or operated by GOMEPLUS platform; platform APP alliance including other third-party APP, client servers owned and operated by GOMEPLUS platform and any other technology and/or service provided by GOMEPLUS platform.</p>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">2. You need to afford the necessary equipment needed in the use of GOMEPLUS platform yourself such as personal computer, mobile phone and any other devices related to mobile network, and the necessary expenses such as mobile phone bills and Internet fees related to Internet access and usage. In order to enjoy the services provided by GOMEPLUS platform, you need to have conditions and devices qualified for Internet access.</h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Two. Users Behaviors’ Rules </dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1.	In order to provide high qualified services, users are asked to register and set up passwords and users should guarantee the authenticity, accurateness and integrity of the registration information before using certain functions or accepting certain services from GOMEPLUS platform. In the meanwhile, users should change in time once related information has changed. In order to help users to complete registration in a safe and convenient manner, GOMEPLUS platform will provide a clear operation guidance for users and detailed operating process and steps please refer to the instructions in the registration part. Once users register successfully, users will have the unique account and password information from GOMEPLUS platform which are the only identity basis for GOMEPLUS platform. Please keep the account and password information to yourself. </h3>
					</li>
					<li class="sec-agreement">
						<h3>2.	Protection of Users’ accounts. </h3>
						<p>Users have responsibility to keep the registered account and password in safety and are completely responsible for the usage of the account and password information. Users should agree that: (a) one should immediately inform the GOMEPLUS platform and log off the account if personal account is used without permission or emerging other security issues. If users do not take actions according to the above description, they should take complete responsibility for the misuse of the account information. GOMEPLUS platform will not share any responsibility for any loss or damage due to the incident. </p>
					</li>
					<li class="sec-agreement">
						<h3>3. Users releasing information</h3>
						<p>3.1 In order to satisfy the demand of ideas’ expression and exchange and serve the users better, GOMEPLUS platform starts the service not limited to users’ commenting function and providing space and content for users to publishing words and pictures.</p>
						<p>3.2 According to relevant laws and regulations, GOMEPLUS platform notifies the users here that any information, word, picture, image or other materials uploaded, posted or transferred via GOMEPLUS platform by any user publicly or privately, content providers and uploaders should shoulder the responsibility and GOMEPLUS platform will not be responsible for the accuracy, genuineness such information and  ifany mistakes in the information under any circumstances. However, GOMEPLUS platform has the right to stop the transmission of the information and take measures including suspending the provided service, saving certain recordings and reporting to certain authorities. </p>
						<p>3.3 Users publicizing information including registered accounts on GOMEPLUS platform should comply with the relevant laws and regulations and shall bear the civil, administrative and/or criminal legal liabilities due to personal improper information publication. Users shall not publish any information including registered accounts, remarks or other contents on GOMEPLUS platform  which directly or indirectly affect /disrespect/ threat the national sovereignty which also include include the followings:</p>
						<ul>
							<li>1) violating constitutions’ principles;</li>
							<li>2) harming national security, breaching confidence, overthrowing nation’s sovereignty and undermining nation’s unity;</li>
							<li>3) harming nation’s honor and interests, attacking the Communist Party and the government;</li>
							<li>4) inciting racial hatred and discrimination, destroying national solidarity;</li>
							<li>5) harming the relationships between countries and regions;</li>
							<li>6) harming national religion policies and publicizing cults and superstitions;</li>
							<li>7) spreading rumors, disturbing social order and stability;</li>
							<li>8) inciting and organizing terrorist activities, illegal conventions, associations, marching, and demonstration to disturb social order;</li>
							<li>9) spreading obscene information, inciting gambling, violence terrorism or crime;</li>
							<li>10) insulting or defaming others, violating others’ legal rights and using uncivil languages;</li>
							<li>11) violating others’ portraiture rights, rights of name, reputation, privacy and copyrights;</li>
							<li>12) organizing events including activities prohibited by laws and administrative regulations under the name of non-governmental organization.</li>
						</ul>
						<p>3.4 If users do not  carry out and comply with the rules whenthey publish information on GOMEPLUS platform, APP has right to delete relevant information to maintain reputation, image and security and terminate the accounts and/or prohibit information publication on the APP while reserve its  right to investigate and affix legal liability. Besides, this APP will not shoulder any liability for breaching contract or any other responsibilities like liability to pay compensation after it taking certain measures to terminate the accounts.</p>
						<p>3.5 GOMEPLUS platform do not assume liabilities for deleting information or storage failure. Users should be responsible for their own behaviors. If users’ behaviors do not accord with this agreement, GOMEPLUS platform has the right to terminate the accounts after independent judgement. If users disseminate reactive, obscene or other illegal information, GOMEPLUS platform’s system logs may uses it as the evidence against them. </p>
						<p>3.6 GOMEPLUS platform has the right to judge whether users’ behaviors meet the requirements of Chinese laws and regulations. If any user breaches the laws or regulations, GOMEPLUS platform can suspend or terminate the services.</p>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Three. Privacy Protection and Information Collection</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1.	When users use the services provided by GOMEPLUS platform, they agree to authorize GOMEPLUS platform to collect, store, use, publicize and protect users’information in the operations including but not limited to:</h3>
						<p>1) Collecting information related to this agreement left by users on GOMEPLUS platform and associated company referred to the company directly or not directly controlled or participated by Gome Holding Group. </p>
						<p>2) Collecting information related to this agreement left by the users on the partners of GOMEPLUS platform including small-loan companies, bonding companies, factoring companies, fund management companies, securities institutes, trust companies and other third-party cooperations.</p>
						<p>3) Querying, verifying, printing and storing users’ information and/or credit reports from the Credit Information Database of the People’s Bank of China and other credit agencies, credit rating institutes or relevant agencies. </p>
						<p>4) Querying, printing and storing any relevant information from administrative institutes and judicial authorities;</p>
						<p>5) Collecting relevant information from natural person, legal person or other organizations who have legitimate right to keep users’ information;</p>
					</li>
					<li class="sec-agreement">
						<h3>2. In order to provide better services, users may agree to authorize GOMEPLUS platform to take advantage of users’ information to following purposes:</h3>
						<p>1) GOMEPLUS platform can send informant messages, marketing activities information and other commercial events to users via emails, GOMEPLUS platform, mobile phones, mails or fax.</p>
						<p>2) If the disputes between GOMEPLUS platform and users cannot be resolved without collection and legal actions, GOMEPLUS platform will give users’ information to the collection companies, law firms, arbitration commission and other authorities.</p>
					</li>
					<li class="sec-agreement">
						<h3>3.	GOMEPLUS platform will undertake confidentiality obligations of users’ information according to laws and regulations and will not sell or rent users’ information to meet the third-party’s sales demand. Users agree to authorize GOMEPLUS platform to share the information with the third parties under any following circumstance:</h3>
						<p>1)	Providing or recommending services and/or products of GOMEPLUS platform or other associated companies’;</p>
						<p>2)	Providing certain services and/or products and/or activities by GOMEPLUS platform and its cooperative partners;</p>
						<p>3)	Providing users information to credit agencies under the agreement of users and once notifying, it should send the defective information to the agencies including the People’s Bank of China immediately;</p>
						<p>4)	Other circumstances agreed and authorized by users according to laws and regulations.</p>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">4.	GOMEPLUS platform take up industry standard practices to protect users personal information including establishing information protection mechanism and facilities but it does not guarantee the personal communication and other information is stolen by others. GOMEPLUS platform will not assume any responsibilities under this agreement. </h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Four.Intellectual Property Rights.</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. The Internet services including words, products, pictures, images, audio and/or video materials provided by GOMEPLUS platform is under the protection of copyright, trademark right, and/or other property ownership laws. Without agreement from certain persons, the above materials cannot be directly or indirectly distributed, broadcast, rewritten or redistributed under the name of broadcasting or publicizing, or other commercial usages. All the materials or any part of the materials can be only stored personally in computer. GOMEPLUS platform will not be responsible for the harm arouse from any delay, inaccuracy, mistakes or omissions during the generation, transmission or application of the materials. </h3>
					</li>
					<li class="sec-agreement">
						<h3>2. Any right of the software including pictures, images, automations, video, audio, music, words and other affiliated materials used by the Internet services provided by GOMEPLUS platform belongs to software’s copyright owners. Without permission, users cannot take up reverse engineering, decompiling or disassembling actions to the software. </h3>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">3. GOMEPLUS platform respects and take proper actions to protect the legal interests of copyright owners and draws up thorough copyright policies which is part of this agreement. </h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Five. The Third-Party Connections</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3 class="no-padding">GOMEPLUS platform may provide connecting other APP or resource services to users. GOMEPLUS platform will not assume any liability to guarantee for the above APP or resource. GOMEPLUS platformshall not be liable for the harm or loss which arises  from using the above APP or resource including infected virus due to downloading materials from APP or resource as well. </h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Six. Responsibility limitation</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. Users clearly understand and agree that he/she should bear the risk of using this service unless this risk or harm resulted from mistakes directly made by GOMEPLUS platform. This service is provided based on current situation and foundation. GOMEPLUS platform APP does not provide any guarantee or assurance clearly or unclearly to this service including but not limited to the guarantee of commercial suitability, suitability for a particular purpose and not breaching other’s right. </h3>
					</li>
					<li class="sec-agreement">
						<h3>2. GOMEPLUS platform and its associated companies do not guarantee that the product instructions or any other contents from GOMEPLUS platform APP are accurate, complete, reliable, updated and correct.</h3>
					</li>
					<li class="sec-agreement">
						<h3>3. GOMEPLUS platform does not guarantee the accuracy and integrity of the outside connections which manage to provide for convenience to users. GOMEPLUS platform does not assume any responsibility/liability for the contents of the websites which are not controlled by GOMEPLUS platform.</h3>
					</li>
					<li class="sec-agreement">
						<h3>4. The Internet suspension or other mistakes due to irresistible forces or other causes which are not controlled by GOMEPLUS platform are not the responsibilities of GOMEPLUS platform. However, GOMEPLUS platformshall always try to reduce the damage to the users.</h3>
					</li>
					<li class="sec-agreement">
						<h3>5. GOMEPLUS platform does not guarantee the authenticity, accurateness and integrity of other people’s information or publicizing information acquired by this APP. If any company or individual take any action according to the above information, they should independently screen the authenticity and take precautions themselves. GOMEPLUS  APP will not shoulder any direct, indirect, affiliated or derived loss and responsibility for transactions and/or actions not related to this APP. </h3>
					</li>
					<li class="sec-agreement">
						<h3>6. GOMEPLUS platform APP does not assume any responsibility if the mistakes are not made by GOMEPLUS platform leading to products and services defects.</h3>
						<ul>
							<li>1) GOMEPLUS platform providing free Internet services;</li>
							<li>2) GOMEPLUS platform giving away any product or service;</li>
							<li>3) others related to this APP.</li>
						</ul>
					</li>
					<li class="sec-agreement">
						<h3>7. Users clearly understand and agree that GOMEPLUS platform does not assume any direct, indirect, affiliated, special, derived or punitive liability to pay compensation due to tangible losses in profit, credit, application and data and other intangible loss made caused by the following factors: </h3>
						<ul class="no-padding">
							<li>(1) whether the application of our services; </li>
							<li>(2) the costs arouse from displacing the products, data, information, services and messages through out services;</li>
							<li>(3) transmission of users’ data without the permission of GOMEPLUS platform; </li>
							<li>(4) any disclaim and behavior by the third-party in our services; </li>
							<li>(5) other things related to our services except ones are clearly specified in this agreement. </li>
						</ul>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Seven. Notification and Delivery</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. Under this agreement, the notifications made by GOMEPLUS platform to users can be sent via website, emails, mobile phones, text messages and other regular delivery. One the notification is sent out, it is seem that message is arrived. </h3>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">2. Users should send message to GOMEPLUS platform via the mail addresses, fax numbers and email addresses officially announced by GOMEPLUS platform.</h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Eight. Agreement’s Adjustment/Amemdment, Suspension and Termination</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. According to Chinse laws and regulations and the operations of APP, GOMEPLUS platform has right to make adjustment to this agreement from time to time. Once the adjusted/amended agreement has been posted up on the platform, it will take into action to replace the original one. Users can log on to check the newest edition anytime and they are obliged to pay attention to and read the latest agreement and APP announcements. If users do not agree with the updated agreement, they can and should stop accepting services provided by GOMEPLUS platform based on the agreement. It will be seen as acceptance of the agreement if users continue to use the services. GOMEPLUS platform suggest users to read the agreement and announcements before using the platform. Any clause in the agreement is seen as abolished, invalid, ineffective or non-executable, the said clause will not affect validity of the entire Agreement. </h3>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">2. Users should agree that GOMEPLUS platform has the right to take actions after reasonable consideration including but not limited to terminating users’ passwords and accounts and deleting the contents due to breaching the contracts in the agreement. GOMEPLUS platform can also terminates its services without notification under its discretion/ consideration at any time. Users agree that GOMEPLUS platform can close accounts and delete information without notification. Besides, users agree that GOMEPLUS platform does not assume responsibilities for any suspension or termination of the account or information. </h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Nine. Responsibility Limitation</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1. Responsibility limitation: Despite other limitations set in the rules by GOMEPLUS platform, within the limits allowed by laws and regulations, GOMEPLUS platform and its Directors, administrators, employees, agents or other representatives are not responsible for any direct, indirect, special, affiliated, resulted or punitive damage or other harm made by VIP plans. The overall responsibility and liability towards damages if any payable notwithstanding  of contracts, guarantees, infringement including mistakes, the quantum of such damages shall  not exceed the value of the product purchased. This limited responsibility clause shall remain in force even after the membership has been canceled</h3>
					</li>
					<li class="sec-agreement">
						<h3>2. Telecommunications: When you visit GOMEPLUS platform or send us emails, please contact us with electronic methods. Once you accept the way receiving our messages, we will use emails or GOMEPLUS platform to release information. You should agree with all the agreements, notifications, publishing and other information which is written in paper are sent out in electronic methods. If GOMEPLUS platform can prove that this information has sent to you by electronics or GOMEPLUS platform post this announcement on its APP platform, it is deem as you have received all the agreements, announcements, publishing and other information. </h3>
					</li>
					<li class="sec-agreement">
						<h3>3.Copyright Statement: All the contents including words, diagrams, signs, icons, images, audio material pieces, data downloading, data edition, software and trademarks are the property of MeixinNetwork Technology Co., Ltd. and its associated companies which are under the protection of Chinese and International copyright laws. Without GOMEPLUS platform’s written authorization or permission, it is prohibited to duplicate, copy, sell, resell and visit GOMEPLUS platform APP.</h3>
					</li>
					<li class="sec-agreement">
						<h3>4. Your Account: If you are using GOMEPLUS platform APP, you are responsible for your account and password privacy and the limitation to your computer. You should agree to shoulder responsibility of all the actions under your account. The mobile phones provided by GOMEPLUS platform are sold to adults. If you are under 18, you can use GOMEPLUS platform only with the company of parents or guardians. GOMEPLUS platform reserves the right to independently decide to refuse to provide services, close accounts, delete contents or cancel orders within the sphere permitted by Chinese laws</h3>
					</li>
					<li class="sec-agreement">
						<h3 class="no-padding">5. Visitors can make comments, remarks or other words and suggestions, ideas, questions or other information as long as the content exclusive of illegal, obscene, threatening, slandering, invasion of privacy and intellectual property or other information damaged to the public. The information should not include software virus, political propaganda, commercial advertisement and any other junk mails. You cannot use false email address and pretend to be other people or entities to misguide the sources of the contents. GOMEPLUS platform reserves to right to delete or edit this information but not examine all the posted contents regularly. If you post or submit certain materials, unless we have reverse indication, you have authorized GOMEPLUS platform and associated companies to use, duplicate, revise, publish, translate, create, develop and display the contents on any media all over the world exclusively, freely, perpetually and irrepealably. By doing this, you have authorized GOMEPLUS platform and associated companies and other permitted individuals to use the name related to the contents you have submitted. You should make announcements and guarantee that the contents you own are accurate and will not harm to other people or entities. You should make announcements and guarantee that you will pay compensation to GOMEPLUS platform if any damage is done. GOMEPLUS platform has the right to monitor and edit or delete any activity or content. GOMEPLUS platform is not responsible for the contents you or any other third party post.</h3>
					</li>
				</ul>
			</dd>
		</dl>
		<dl class="agreement">
			<dt>Ten.The Applications of Laws and Others</dt>
			<dd>
				<ul>
					<li class="sec-agreement">
						<h3>1.The establishment, enforcement, interpretation and the settlement of disputes of this agreement are subject to Indian laws. If there is controversy over this agreement between two parties, theparties should try to settle peacefully through negotiation. If negotiation fails, any aggrieved party can initiate legal action within the jurisdiction of the local court where the agreement is signed. </h3>
					</li>
					<li class="sec-agreement">
						<h3>2. If any clause in the agreement is deemed to be invalid, illegal or non-executable due to any causes, the said clause is severable and shall not affect the applicability and execution of the entire agreement</h3>
					</li>
					<li class="sec-agreement">
						<h3>3. Please read the clauses in the agreement carefully. If you press the “Agree” button, you are deemed to accept this agreement completely. Please confirm you have known and understood all the contents before press the button.</h3>
					</li>
				</ul>
			</dd>
		</dl>
	</section>
</body>
</html>