@charset "UTF-8";
/*--------榛勮壊鑳屾櫙--------*/
/*--------瀛椾綋棰滆壊--------*/
/*--------鍒嗗壊绾胯壊--------*/
/*--------搴曡壊--------*/
.register-title {
  font-size: 0.56rem;
  color: #333;
  padding-top: 0.58rem;
  font-weight: bold; }

.register-section {
  padding: 0rem 0.46rem; }
  .register-section .register-input-input {
    border: none;
    outline: 0;
    margin-top: 0.44rem;
    padding: 0.24rem 0rem;
    height: 0.32rem;
    box-sizing: content-box;
    font-size: 0.32rem;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .register-section .register-input-phone {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin-top: 1.26rem;
    height: 1.24rem;
    position: relative;
    font-size: 0.32rem; }
    .register-section .register-input-phone .register-area {
      width: auto;
      display: block;
      height: 0.8rem;
      margin-top: 0.44rem;
      padding-right: 0.2rem;
      line-height: 0.8rem;
      position: relative;
      font-size: 0.32rem;
      color: #333; }
      .register-section .register-input-phone .register-area:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0.22rem;
        height: 0.36rem;
        width: 1px;
        background-color: #E4E4E4;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5); }
    .register-section .register-input-phone .register-input-input {
      margin-right: 0.2rem;
      padding-left: 0.2rem; }
  .register-section .register-input-pwd {
    position: relative; }
  .register-section .register-input-verification {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex; }
    .register-section .register-input-verification .register-input-input {
      border-bottom: 1px solid #E4E4E4; }
    .register-section .register-input-verification .register-verification-send {
      border: 1px solid #CCCCCC;
      color: #ccc;
      margin-left: 0.2rem;
      width: 1.68rem;
      height: 0.7rem;
      font-size: 0.3rem;
      text-align: center;
      line-height: 0.7rem;
      margin-top: 0.54rem;
      border-radius: 0.02rem;
      display: block; }
    .register-section .register-input-verification .verification-active {
      border: 1px solid #919191;
      color: #333; }
  .register-section .register-input-phone:before, .register-section .register-input-pwd:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  .register-section .register-btns {
    margin-top: 0.6rem; }
  .register-section .register-agreement {
    margin-top: 0.32rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex; }
    .register-section .register-agreement .register-agreement-select {
      width: 0.3rem;
      height: 0.3rem;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAALVBMVEUAAABxcXFnZ2dnZ2dmZmZnZ2dnZ2dnZ2dnZ2dpaWlnZ2dmZmZpaWlpaWlmZmYDkyMlAAAADnRSTlMACXniu73vd0gZ2rYzEc/fqL8AAABzSURBVBjTY2h+hwwsGOxQ+I8Z3jEgg3fU5E9A5TPloPL1nh1A5jO9eyKAzNd75whTPxEqDeVzLhWASEP5Uu8CwdIwPvu7pwJgaZj+undBQGkEnx3oc0dk99YBdSDzud/lovpn2wVUPiO6f2nFR48v9PgEAKSngZD+bA8OAAAAAElFTkSuQmCC) no-repeat;
      background-size: 100% auto;
      margin-right: 0.1rem;
      display: block; }
    .register-section .register-agreement .register-agreement-href {
      padding-left: 0.2rem;
      color: #FFD022; }
  .register-section .register-agreement-active .register-agreement-select {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeAgMAAABGXkYxAAAADFBMVEUAAACZmZmcnJyZmZlLFoQ/AAAAA3RSTlMA4kjuOZwSAAAAH0lEQVQY02OY/x8MEhjqIYwLDB8YwODD8GfAvAwPBADBxE1F/xLRAgAAAABJRU5ErkJggg==) no-repeat;
    background-size: 100% auto; }
