@charset "UTF-8";
/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
html {
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

body {
  line-height: 1;
  font-size: 14px;
  color: #333; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, figcaption, figure {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline; }

article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

del {
  text-decoration: line-through; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  /* word-break:break-all;
  word-wrap:break-word; */
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

a, input, textarea {
  background: none;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0; }

a {
  -webkit-tap-highlight-color: transparent;
  color: #333; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: 0; }

img {
  display: block;
  border: 0 none;
  vertical-align: middle; }

/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
/*===========头部标题==========*/
.header {
  margin: 0rem 0.3rem;
  position: relative;
  height: 0.96rem; }
  .header:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5); }
  .header .header-title {
    font-size: 0.36rem;
    color: #333;
    line-height: 0.98rem;
    text-align: center; }
  .header .header-back, .header .header-back-to, .header .header-close {
    position: absolute;
    width: 0.9rem;
    height: 0.9rem; }
  .header .header-back {
    top: 0;
    right: -0.3rem;
    background: url(../../../images/common/icon-index.png) center center no-repeat;
    background-size: 0.4rem 0.42rem; }
  .header .header-back-to {
    top: 0;
    left: -0.3rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAWlJREFUWAnN2DFuwjAUAFCcsHbIBboyZMglOEEyEqkzcInkEIiVoq65RQfWZMlBOnUh/I/kyAg7fGzHtiXkLyf+ftjDN8QLw1ZVVZQkyTlN01Xf97+G6RaxSQLEdF13hhzlMAxrQP2boiJdEMcAZMNzQPzJY91eCyTDMMaOTdPsdSF8HuMBtZ/CAGqg5lG9t1Q9kI0jpm3bb3g2HhPfGRsYXJO8QwKm5FjbGDLIFYYEcol5CXKNmQT5wChBvjBSkE/ME8g35gEUAmYEhYK5g0LCICjGyxX0s5YDXIjaIqhHf+LLcKf5qOuaXOPEuTbiCO8wWCSFZCVWdDxKYcxZeN8J2BVWFMUB+q2w8k+WZV8Auwpjs4fj0YSCGkH41UNAPYBCQD2BfKOkIJ8oJcgXahLkA/US5BpFArlEkUGuUG+BXKDeBs2N0qro+DtedkuA/4pOCDZpWiBcUIG6mGCszMWCnOf5AT47GwlvaLNijoSQIdUAAAAASUVORK5CYII=) center center no-repeat;
    background-size: 0.36rem 0.36rem; }
  .header .header-close {
    top: 0;
    right: -0.2rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAetJREFUWAm92L1OwzAQB/DYBWVGQeIRGnXgHRBbF5R0qhg6kZEHYCoPwsCAOpWIpVtfApYuvAFiz0DL/dMkUt00OduJvUQ+272f3I87VXg0JpPJeLfbzX3fHy8Wix/EXI3pdHqZZdlKCDFfLpcrAcx2u30ngE/BT0LdukIVmDVdxjXlz6SUsSTMBUHOcCNYIO0aGzHvcygYD4bcgqRRFN1T4JVAA8z7vqkazB/lnqVp+iYAwHCFasLAUYFcoNowR6A+URxMLagPFBdzEtQlSgfTCOoCpYtpBdmgTDAskAnKFMMG6aBsMFogDsoWow1qQmENdbAolCg/VTnAGncc/FJzD9WVGZy1xeA1jEA4qKIQwzC9mf1pz8ureznReW42m6/RaPRLtzJWzj1S1X5RYuypZO9UNuIDTJgHJYwbSrCmxrlzo7es7tuEhAS07qe0QXUYgswAotuxbvK0QKcw6PQAUj/oBNTu0dmgNgxAGLYoFoiL2ZPsUK0gXYwtqhFkirFBnQTZYkxRtaCuMCaoI1DXGF3UAagvjA6qAvWN4aJykCsMByVcY9pQg+Fw+EzFMcJG2+aqTMZ5op8Kw/Cbct7RfrRBV/R3jJRBEDzR5MMlpgSjKKNTQG4YCovnJUlyHsfxTbnR9RO5YUDef9V67Av1kMr8AAAAAElFTkSuQmCC) center center no-repeat;
    background-size: 0.36rem 0.36rem; }

.header.no-border:before {
  display: none !important; }

/*===========头部搜索==========*/
.header-search {
  padding: 0.2rem 0.3rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: flexbox;
  display: flex;
  -webkit-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
  flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  flex-align: center;
  align-items: center; }
  .header-search .search {
    width: 6.2rem;
    height: 0.7rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    flex-align: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 0rem 0.28rem; }
  .header-search .search-icon {
    width: 0.34rem;
    height: 0.34rem;
    margin-right: 0.16rem;
    background: url(../../../images/common/icon-search.png) no-repeat;
    background-size: cover; }
  .header-search .search-txt {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #333;
    font-size: 0.3rem;
    border: none;
    height: 0.4rem;
    line-height: 0.4rem; }
  .header-search .header-back {
    width: 0.4rem;
    height: 0.42rem;
    background: url(../../../images/common/icon-index.png) no-repeat;
    background-size: cover; }

/*===========头部搜索 search-more==========*/
.search-more .search-close {
  width: 0.32rem;
  height: 0.32rem;
  background: url(../../../images/common/search-close.png) no-repeat;
  background-size: cover;
  margin-left: 0.1rem; }
.search-more .search {
  width: 5.68rem; }
.search-more .search-cancel {
  font-size: 0.3rem; }

/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
/*=======标题=========*/
.title {
  height: 1.1rem;
  padding: 0rem 0.3rem;
  position: relative; }
  .title:before {
    content: '';
    position: absolute;
    top: 0.4rem;
    left: 0;
    width: 0.08rem;
    height: 0.3rem;
    background-color: #FFD742;
    box-shadow: 0.08rem 0 0 0 #FFF1B8; }
  .title .title-main {
    line-height: 1.1rem;
    font-size: 0.38rem;
    color: #333; }
  .title .title-arrows {
    position: absolute;
    right: 0.22rem;
    top: 0.38rem;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../../../images/index/arrows-index.png) no-repeat;
    background-size: cover; }

/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
.no-data {
  position: absolute;
  width: 100%;
  top: 2.8rem;
  bottom: 0;
  text-align: center;
  z-index: 2;
  background-color: #fff; }
  .no-data.hide {
    display: none; }
  .no-data .wrap {
    position: absolute;
    width: 100%;
    padding: 0 0.8rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }
  .no-data .default {
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    background-size: cover;
    margin: 0 auto .4rem; }
  .no-data .title {
    font-size: 0.32rem;
    color: #666;
    margin-bottom: 0.2rem; }
    .no-data .title:before {
      display: none; }
  .no-data .link {
    display: block;
    font-size: 0.3rem;
    line-height: 0.84rem;
    min-width: 3.28rem;
    color: #333;
    text-transform: uppercase;
    padding: 0 0.2rem;
    margin-top: 0.8rem; }

body {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  padding-top: 2.8rem; }

.header-wrapper {
  position: fixed;
  height: 0.96rem;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2; }

.header-sub {
  z-index: 2;
  position: fixed;
  top: 0.96rem;
  width: 100%;
  padding: 0 0.3rem;
  height: 1.56rem;
  background-color: #fff; }
  .header-sub .total-num {
    line-height: 1.56rem;
    font-size: 0.52rem;
    color: #b26200;
    font-weight: 500; }
  .header-sub .link-giftcards {
    position: absolute;
    right: 0.3rem;
    top: 0;
    height: 100%;
    text-align: center;
    padding-top: 0.4rem; }
    .header-sub .link-giftcards > img {
      display: inline-block;
      width: 0.6rem;
      height: 0.4rem;
      margin-bottom: 0.1rem; }
    .header-sub .link-giftcards > h3 {
      color: #333;
      font-size: 0.26rem; }

.separator {
  position: fixed;
  top: 2.52rem;
  width: 100%;
  height: 0.3rem;
  background-color: #f3f3f3;
  z-index: 2; }

.cards-list {
  width: 100%;
  z-index: 1;
  padding: 0 0.2rem; }

.cards-li {
  position: relative;
  height: 2.6rem;
  margin-bottom: 0.3rem;
  padding: 0.2rem 0;
  z-index: 1;
  background-color: #fff; }
  .cards-li:last-child {
    margin-bottom: 0; }
  .cards-li .left {
    position: relative;
    width: 1.6rem;
    height: 100%;
    float: left;
    text-align: center;
    border-right: 0.01rem #e4e4e4 dotted; }
    .cards-li .left .label {
      text-transform: uppercase;
      color: #999;
      font-size: 0.32rem;
      margin-top: 0.7rem; }
    .cards-li .left .content {
      display: inline-block;
      margin-top: 0.24rem;
      color: #333;
      font-size: 0.32rem;
      font-weight: 700; }
    .cards-li .left:after, .cards-li .left:before {
      position: absolute;
      content: "";
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: #f3f3f3;
      top: -0.45rem;
      right: -0.2rem; }
    .cards-li .left:after {
      top: auto;
      bottom: -0.45rem; }
  .cards-li .right {
    position: relative;
    width: 5.12rem;
    height: 100%;
    float: right;
    margin-right: 0.2rem;
    padding-top: 0.18rem; }
    .cards-li .right .card-name {
      color: #333;
      font-size: 0.28rem;
      margin-bottom: 0.1rem; }
    .cards-li .right .notes {
      padding-left: 0.16rem; }
      .cards-li .right .notes > li {
        position: relative;
        color: #999;
        font-size: 0.24rem;
        line-height: 1.5; }
        .cards-li .right .notes > li:before {
          content: "•";
          position: absolute;
          left: -0.16rem;
          top: 0; }
    .cards-li .right .exchange-price {
      position: absolute;
      bottom: 0.1rem;
      left: 0;
      color: #333;
      font-size: 0.28rem; }
      .cards-li .right .exchange-price .label {
        float: left;
        margin-right: 0.12rem; }
      .cards-li .right .exchange-price .amount {
        font-weight: 500;
        color: #b26200; }
    .cards-li .right .exchange-btn {
      position: absolute;
      text-transform: uppercase;
      padding: 0 0.12rem;
      right: 0;
      bottom: 0;
      line-height: 0.6rem;
      font-size: 0.24rem;
      background-color: #FFD022;
      color: #333;
      border-radius: 0.04rem; }
  .cards-li .color-brown {
    color: #b26200; }

/*========= 弹层 ==========*/
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7); }
  .mask > div {
    position: absolute;
    top: 50%;
    left: 50%; }
  .mask .prompt {
    color: #333;
    width: 5.4rem;
    min-height: 2.2rem;
    overflow: hidden;
    padding-bottom: .88rem;
    background-color: #fff;
    border-radius: .2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 40010;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .mask .prompt .content {
      color: #333;
      font-size: .3rem;
      line-height: 1.3;
      text-align: center;
      padding: .3rem .6rem;
      margin-top: -.4rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      right: 0;
      top: 50%; }
    .mask .prompt .buttons {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid #e5e5e5;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -ms-flexbox;
      display: flexbox;
      display: flex; }
      .mask .prompt .buttons .button {
        font-size: .32rem;
        line-height: .88rem;
        overflow: hidden;
        width: 50%;
        text-align: center;
        display: block; }
      .mask .prompt .buttons :last-child {
        background-color: #ffd022; }
  .mask .result {
    min-width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 40010;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .mask .result .content {
      color: #FFF;
      font-size: 0.3rem;
      line-height: 1.3;
      text-align: center;
      padding: 0.3rem; }
  .mask .loading {
    width: 1rem;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    border-radius: 50%;
    border: 0.04rem solid #fff;
    border-bottom-color: transparent;
    -webkit-animation: rotate 0.75s linear infinite;
            animation: rotate 0.75s linear infinite; }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
[v-cloak] {
  display: none; }

html.app body {
  padding-top: 1.84rem; }
html.app .header-sub {
  top: 0; }
html.app .separator {
  top: 1.56rem; }
html.app .no-data {
  top: 1.84rem; }

.inr-icon {
  float: left; }
