<div class="mask">
    <div class="help-layer">
        <h1 class="label">Usage of Flipkart Gift Card</h1>
        <span class="close-btn"></span>
        <ul class="list">
            <li>
                <h1 class="step-name">Step 1</h1>
                <p class="step-desc">Go to flipkart.com</p>
            </li>
            <li>
                <h1 class="step-name">Step 2</h1>
                <p class="step-desc">Place orders</p>
            </li>
            <li>
                <h1 class="step-name">Step 3</h1>
                <p class="step-desc">Make the payment</p>
            </li>
            <li>
                <h1 class="step-name">Step 4</h1>
                <p class="step-desc">Select 'Gift Card'</p>
            </li>
            <li>
                <h1 class="step-name">Step 5</h1>
                <p class="step-desc"> Enter 'gift card number and pin'</p>
            </li>
            <li>
                <h1 class="step-name">Step 6</h1>
                <p class="step-desc">Complete the payment</p>
            </li>
            <li>
                <h1 class="step-name">Remarks</h1>
                <p class="step-desc">Usage refers to T&C of Flipkart.</p>
            </li>
        </ul>
    </div>
</div>
