<!-- 订单列表页的帮助弹层 -->

<div class="mask">
    <div class="help-layer">
        <h1 class="title">Order Description</h1>
        <span class="close-btn"></span>
        <ul class="list">
            <li>
                <h1 class="step-name">1. ORDER</h1>
                <p class="step-desc">GOMEPLUS platform shopping guide in the third-party mall to buy rebate orders</p>
            </li>
            <li>
                <h1 class="step-name">2. REBATING</h1>
                <p class="step-desc">Rebate in the order, third-party mall audit orders</p>
            </li>
            <li>
                <h1 class="step-name">3. REBATED</h1>
                <p class="step-desc">The user can use the amount of rebate received orders</p>
            </li>
            <li>
                <h1 class="step-name">4. FAILED</h1>
                <p class="step-desc">Due to third-party mall reasons can not get rebate orders</p>
            </li>
            <li>
                <h1 class="step-name">5. MERCHANDISE RETURN</h1>
                <p class="step-desc">If the user wants to return, please go to the third party mall to apply for submission</p>
            </li>
        </ul>
    </div>
</div>
