<% include ../public/header.ejs %>
<section>
	<div id="goodDetailLayer" class="alert">
		<div class="box">
			<!-- <span class="box-btn" id="closeLayer"></span> -->
			<h4 class="box-title">Order Description</h4>
			<h4  class="box-sub-title col">1. Rebate order status</h4>
			<h5 class="box-sub-title col">（1）Orders</h5>
			<p class="box-para">Rebate in the order, the third party mall to accept the application for rebate orders</p>
			<h5 class="box-sub-title col">（2）Rebating</h5>
			<p class="box-para">Rebate in the order, third-party mall refund approved by the order</p>
			<h5 class="box-sub-title col">（3）Rebated</h5>
			<p class="box-para">The user can use the amount of rebate received orders</p>
			<h5 class="box-sub-title col">（4）Failed</h5>
			<p class="box-para">Due to third-party mall reasons can not get rebate orders</p>
			<h4  class="box-sub-title col">2. Common problems</h4>
			<h5 class="box-sub-title col">（1）Rebate arrival time?</h5>
			<p class="box-para">Different third-party mall according to their different return policy rebate to account  time difference</p>
			<h5 class="box-sub-title col">（2）How to return goods?</h5>
			<p class="box-para">If the user wants to return, please go to the third party mall to apply for submission</p>
		</div>
	</div>
</section>
</body>
</html>