@charset "UTF-8";
@import '../../common/_base/_configure.scss';
@import '../../common/reset/reset.scss';

/*==========老虎机页面============*/
@font-face {
  font-family: 'slotbold';
  src: url('../../../fonts/slot_bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
 }
.clearfix{
  overflow: hidden;
}
html,body{
  background: -webkit-linear-gradient(#daff99, #21a35e);
  background: linear-gradient(#daff99, #21a35e);
  font-family: 'slotbold';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
img{width:100%;}

#main{
  width:100%;height:100%;
}

.head{
  background: url("../../../images/game/laohuji/bj_1.png") center no-repeat;
  height:4.35rem;
  padding:0.57rem 0 0 0.36rem;
  position: relative;;  
}
.head img{
  width:5.08rem;
}
.head .price{
  position: absolute;left: 2.08rem;bottom: 0.85rem;
  width:3.32rem;height:0.7rem;
  background: url("../../../images/game/laohuji/price.png") center no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.head .price.active{
  background-image: url("../../../images/game/laohuji/price1.png");
}
.head .price dl{
  margin-left: 0.68rem;
}
.head .price dd{
  float:left;width:0.5rem;
  color: #472a02;font-size: 0.5rem;font-weight: bolder;
  text-align:center;padding-top: 0.1rem;
}

.content{
  background: url("../../../images/game/laohuji/bj_2.png") center no-repeat;
  padding-left: 1.1rem;
  height: 4.84rem;
}
.content li{
  width:1.46rem;
  float:left;
  height:4.8rem;overflow: hidden;
  background: url("../../../images/game/laohuji/items1.png") top center repeat-y;
  margin-right:.46rem;
  position: relative;
}
.content li.second{
  background: url("../../../images/game/laohuji/items2.png") top center repeat-y;
}
.content li.third{
  background: url("../../../images/game/laohuji/items3.png") top center repeat-y;
}
#main .content li{
  background-size: 100% auto;
}
.content li .flicker{
  position: absolute;
  width:1.48rem;height: 1.54rem;
  border: 2px solid red;
}

.foot{
  background: url("../../../images/game/laohuji/bj_3.png") center no-repeat;
  height:4.15rem;
  padding-top: 0.5rem;
}
.foot ul.ctls li{
  float:left;
}
.foot ul.ctls .times{
  width: 0.9rem;margin:0 0.3rem 0 0.56rem;
}
.foot ul.ctls .times .nums{
  font-size: 0.7rem;text-align: center;
  font-weight:bolder;color: #bc251f;
}
.foot ul.btns li,.foot .go,.foot .sign{
  float:left;height: 1.42rem;
  background: url("../../../images/game/laohuji/btns.png") no-repeat;
  background-size: 7.5rem;
  margin: 0 0.05rem;
}
.foot .go {
  width: 3.8rem;height: 1.1rem;
  margin-left: 0.02rem;
  background-position: 0 -7.18rem;
  margin-top: -0.04rem; }

.foot .go.active {
  background-position-x: -3.77rem; }

.foot .sign {
  width: 1.1rem;
  height: 0.98rem;
  margin-left: 0.2rem;
  background-position: 0 -8.27rem; }

.foot .sign.active {
  background-position-x: -6.4rem; }

.foot .sign.disable{
  background: url("../../../images/game/laohuji/sign_dis.png") center no-repeat;
  background-size: cover;margin-top: 0.02rem;
}
.foot ul.btns{
  margin-left: 0.55rem;
  margin-top: 0.5rem;
}
.foot ul.btns li {
  margin: 0 0.1rem;
}
.foot ul.btns .btn{
  width: 1.18rem;
}
.foot ul.btns .btn_task {
  width: 1.29rem;
  background-position: 0 -1.42rem; }

.foot ul.btns .btn_task.active {
  background-position-x: -6.23rem; }

.foot ul.btns .btn_rule {
  width: 1.29rem;
  background-position: 0 0; }

.foot ul.btns .btn_rule.active {
  background-position-x: -6.23rem; }

.foot ul.btns .btn_gift {
  width: 1.64rem;
  background-position: 0 -4.33rem;;
}
.foot ul.btns .btn_gift.active {
  background-position-x: -5.9rem;
}
.foot ul.btns .btn_share {
  width: 1.41rem;
  background-position: 0 -2.86rem; }

.foot ul.btns .btn_share.active {
  background-position-x: -6.12rem; }

.head,.content,.foot{
  background-size: cover;
}

#popup{
  display: none;
}
#popup > div{
  position: fixed;
}
#popup .mask,#popup .result{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#popup .mask{
  background-color: rgba(0,0,0,.4);
}
#popup .win{
  position: relative;
}
#popup .win .bonus{
  position: absolute;
  top: 7.2rem;left: 3.4rem;
  font-size: 0.6rem;color: #ffe435;
}

.box{
  width: 6.5rem;
  background-color: #fef2da;
  position: absolute;top: 50%;left:50%;
  margin: -2.5rem 0 0 -3.2rem;
  border: 1px solid #b8944c;
  border-radius: 5px;
}
.box .box_deco{
  position: absolute;top:0;
  right: 0;left: 0;
}
.box .close{
  width:0.65rem;height:0.65rem;
  position: absolute;top: 0.1rem;
  right: 0.1rem;
}

.box_content > div{
  margin: 0.8rem 0.3rem 0;
}
.box_content > .task{
  margin: .8rem .2rem .9rem .43rem;
}
.box .box_head{
  position: absolute;top: -0.7rem;left: 1rem;
  width: 3.75rem;height: 1.4rem;
  background: url("../../../images/game/laohuji/box_head.png") center no-repeat;
  background-size: cover;
}
.box .box_head span{
    position: absolute;
    top: .4rem;left: 1.5rem;
    font-size: .3rem;
    font-weight: bold;
}

.task li{
  margin-bottom: 0.1rem;
  font-size: 0.28rem;
}
.task li a{
  display: inline-block;
  width: 5.2rem;color: #5a420d;
  line-height: 0.4rem;
}
.task li span{
  float: left;width: 0.3rem;
}
.task li span.txt{
  word-break: break-word;
  width: 4.9rem;
}
.task li img{
  width: 0.5rem;height:0.5rem;
  display: none;
  margin-top: -0.5rem;
  cursor: pointer;
}
.task li.sharingTaskStatus img {
    margin-top: -1rem
}
.task li.active a{
  color: #bc9e66;
}
.task li.active img{
  display: inline;
}

.box_content > .reward{
  margin-bottom: 0.41rem;
}
.reward h3{
  font-size: 0.28rem;font-weight: bold;
  margin-bottom: 0.45rem;
}
.reward h3 .amount{
  color: #f7004a;
}
.reward h3 span{
  font-size: 0.48rem;
}
.reward .re_con{
  background-color: #fffefc;
  padding: 0.25rem 0;
  height: 4rem;overflow: hidden;
}
.reward .re_con h4{
  font-size: 0.28rem;color: #2a1e04;
  margin-left: 0.12rem;font-weight: bold;
}
.reward .re_con li{
  text-align: center;font-size: 0.26rem;
  line-height: 0.4rem;
  color: #89857d;
}

.rules .rules_title{
  position: absolute;top: -0.6rem;left: 1.52rem;
  width: 3.28rem;height: 1.2rem;
}
.rules .swiper-wrapper{
  margin-bottom: 0.88rem;
}
.rules .task li a{
  width: 5.6rem;
}
.rules .task li .txt{
  width: 5.3rem;
}
.rules ul{
  height: 3.5rem;
  overflow-y: scroll;
}
.rules .awards li{
  width: 1.75rem;height: 2.74rem;border: 1px solid #af6d31;
  float:left;margin-right: 0.3rem;
  background: #FFF;
  text-align: center;
}
.rules .awards li:last-child{
  margin-right: 0;
}
.rules .awards li em{
  width: 1.46rem;height: 1.6rem;
  display: block;margin: 0.2rem 0.12rem;
  background: url("../../../images/game/laohuji/items1.png") center no-repeat;
  background-size: cover;
  background-position: 0 -3.2rem;
}
.rules .awards li.item2 em{
  background-position: 0 -1.6rem;
}
.rules .awards li.item3 em{
  background-position: 0 -8rem;
}
.rules .awards li.item4 em{
    background-position: 0 -6.4rem;
}
.rules .awards li.item5 em{
  background-position: 0 0;
}
.rules .awards li p{
  background: #6d3f17;color: #f9e511;
  width: 70%;margin:0 15%;font-size: 0.24rem;
  border-radius: 0.2rem;
  line-height: 0.44rem;
}

.download{
  padding:0 0.8rem;
}
.download .txt{
  font-size: 0.28rem;line-height: 0.4rem;
  word-break: break-word;
  color: #615f59;
}
.download .down_btns{
  margin: 0.53rem 0 0.26rem;
}
.download .down_btns li{
  background: url("../../../images/game/laohuji/btns_dl.png") no-repeat;
  background-size: 3.75rem;float: left;
  width: 1.82rem;height: 0.7rem;cursor: pointer;
}
.download .down_btns li.no{
  background-position: -1.875rem 0;
  margin-left: 0.41rem;
}
.download .down_btns li.active{
  background-position-y: -0.72rem;
}

#popup .swiper-pagination-bullet{
  width: 0.15rem;height: 0.15rem;
  background: #d6d6d6;opacity: 1;
}
#popup .swiper-pagination-bullet-active{
  background: #da955a;
}

