@charset "UTF-8";
/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
.help-layer {
  position: absolute;
  width: 6.3rem;
  height: 10.2rem;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #fff;
  overflow: hidden; }
  .help-layer .label {
    text-transform: capitalize;
    font-size: 0.36rem;
    color: #333;
    text-align: center;
    margin: 0.4rem 0;
    max-width: 4.2rem;
    line-height: 0.48rem;
    height: 0.96rem;
    overflow: hidden;
    margin: 0.36rem auto; }
  .help-layer .close-btn {
    position: absolute;
    width: 0.36rem;
    height: 0.36rem;
    line-height: 0.36rem;
    top: 0.42rem;
    right: 0.42rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAetJREFUWAm92L1OwzAQB/DYBWVGQeIRGnXgHRBbF5R0qhg6kZEHYCoPwsCAOpWIpVtfApYuvAFiz0DL/dMkUt00OduJvUQ+272f3I87VXg0JpPJeLfbzX3fHy8Wix/EXI3pdHqZZdlKCDFfLpcrAcx2u30ngE/BT0LdukIVmDVdxjXlz6SUsSTMBUHOcCNYIO0aGzHvcygYD4bcgqRRFN1T4JVAA8z7vqkazB/lnqVp+iYAwHCFasLAUYFcoNowR6A+URxMLagPFBdzEtQlSgfTCOoCpYtpBdmgTDAskAnKFMMG6aBsMFogDsoWow1qQmENdbAolCg/VTnAGncc/FJzD9WVGZy1xeA1jEA4qKIQwzC9mf1pz8ureznReW42m6/RaPRLtzJWzj1S1X5RYuypZO9UNuIDTJgHJYwbSrCmxrlzo7es7tuEhAS07qe0QXUYgswAotuxbvK0QKcw6PQAUj/oBNTu0dmgNgxAGLYoFoiL2ZPsUK0gXYwtqhFkirFBnQTZYkxRtaCuMCaoI1DXGF3UAagvjA6qAvWN4aJykCsMByVcY9pQg+Fw+EzFMcJG2+aqTMZ5op8Kw/Cbct7RfrRBV/R3jJRBEDzR5MMlpgSjKKNTQG4YCovnJUlyHsfxTbnR9RO5YUDef9V67Av1kMr8AAAAAElFTkSuQmCC) center center no-repeat;
    background-size: 0.36rem 0.36rem; }
  .help-layer .list {
    height: 8rem;
    padding: 0 0.5rem;
    overflow-y: scroll; }
    .help-layer .list h1, .help-layer .list p {
      font-size: 0.3rem;
      line-height: 0.48rem;
      color: #666; }
