<script crossorigin src="<%=config.wapjspath%>/js/lithe.js?"
        data-config-dynamic="true"
        data-config="config.js"
        data-debug="true"
        data-main="conf/<%=static.jspath%>"></script>
</body>
</html>