@charset "UTF-8";
/*--------黄色背景--------*/
/*--------字体颜色--------*/
/*--------分割线色--------*/
/*--------底色--------*/
html {
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

body {
  line-height: 1;
  font-size: 14px;
  color: #333; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, figcaption, figure {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline; }

article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

del {
  text-decoration: line-through; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  /* word-break:break-all;
  word-wrap:break-word; */
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

a, input, textarea {
  background: none;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0; }

a {
  -webkit-tap-highlight-color: transparent;
  color: #333; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: 0; }

img {
  display: block;
  border: 0 none;
  vertical-align: middle; }

img {
  width: 100%; }

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

.clearfix {
  zoom: 1; }

body {
  background-color: #FFE338;
  font-family: ArialMT; }

.main {
  margin-top: -1.8rem;
  position: relative;
  z-index: 2; }
  .main .content {
    margin-left: 0.95rem;
    width: 5.62rem;
    background-color: #FFF;
    height: 7.4rem; }
    .main .content .title {
      padding-top: 0.4rem;
      margin-left: 1.64rem; }
      .main .content .title li {
        float: left; }
      .main .content .title li em {
        display: inline-block;
        width: 0.44rem;
        height: 0.44rem; }
      .main .content .title li .pre em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAZlBMVEX/xAD/wwD/yAD/xAAAAAD/wwD/////xAb//fn//PX/0T3/8sn/66n/44r/33r/zS3//vz/+/D/+en/997/7rr/6KD/22j/11f/1VD/1Ef/zzX/yRz/xxL/55r/5ZP/4oX/11j/zjCOgj4ZAAAABXRSTlPmphztAPMTpaIAAAChSURBVDjL7dXLDoJAFAPQOwPt8EZUBPH9/z8piYvZdhYmJtL1WTS5uanl3hmEmPO5+QxiMm8OcpyZjqNVsuFv4D4Bt5xVfD2yOIm4P3BfQcNTyfoCDbfkGCDgWFfAsa6An5+6El7IOsgX7LibBBz1LGM8WJxljHbVMsadZSVj3FYtY4wcFhmj4fCScWjYyBihC7/x3f+ILcEmTVvSaCbN8Rt6bShn/uGs2wAAAABJRU5ErkJggg==) center no-repeat; }
      .main .content .title li.disabled .pre em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAM1BMVEX89Mz/9tH89cz89MsAAAD89cz79Mv////+/vv9+uj8+Nz89tf9++779tT8+eP79c/+/PQLmLXPAAAABnRSTlOmHObtAOWGvcQBAAAAkUlEQVQ4y+3VOw7DMAwDUFlxRPmb3P+07abR9FCgQML5DYQNgZKTqBE5JWVJh5E5kojREVEeq9hGXvwLPDZwQWXx1eEsHg5vZI3quC/jcAHK8jWi7rQ1jrprHHU53ICb/8EJVAaHprEVeCVw6Mbg0AwOTeDQg8bWv3qNQ3ce2/yT634iVt6eW9O2NZr0HKuk/AEaQS4C8RvLigAAAABJRU5ErkJggg==) center no-repeat; }
      .main .content .title li .next em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAXVBMVEX/wwD/wwD/yAD/xAAAAAD/wwD/////xQz/9dT/++//663/33v/yyT/yh3/yBT/777/1En/xQf/+ef/99v/88v/zzL/zSn/+uv/9+H/7bP/66z/6aP/2V//1lP/0T3tP0D4AAAABXRSTlPmphztAPMTpaIAAACpSURBVDjL7dU5DsMwDARASraWsnX4ip07/39mOjVqVkCKAAnrKcglCEpvjTiixNhebOfI6qwYR5cR4XGxVP3x53BSHqv3kcbJY5jpNnQEAj9gAEal05gH+EhHF0vjTM56AwKHS+P0Bh/AncXZw2cS66nYGtd2y+SAOmFLZHTLhEuxFa7sGsl1L1eshyPxiPPhSPzCsPM3+Ny/4bp/G0uDbXptTU+z6R2/AXZqJ+aIW7F4AAAAAElFTkSuQmCC) center no-repeat; }
      .main .content .title li.disabled .next em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsBAMAAADsqkcyAAAALVBMVEX89cz89Mz/9tH89MsAAAD79Mv////+/vf79c779tL9++/+/PP899n8+eT8+N2kJvhVAAAABXRSTlPmphztAPMTpaIAAACUSURBVCjPY3ASCMUAjCoMyqFYgBGDKDbhQAZWbMIBDKFYwdARnoFVOKJ8KjbhyLIarIZ0pV3FauW1rFZswjFllVgdOD39KDbhiGW5WL0Tm7YCqy+fZWETjti2A5twd3orNiu3VSCsRFOMKbwMq3ei0qdiCCMUI4QRijGFj1ViDe+YqYMl+VAijCNL4ciAOLIrjswNAM0bR6IagOIfAAAAAElFTkSuQmCC) center no-repeat; }
      .main .content .title li.date {
        line-height: 0.44rem;
        font-size: 0.3rem;
        color: #333;
        width: 1.4rem;
        text-align: center; }
    .main .content .nolist .noimg {
      margin-left: 1.6rem;
      margin-top: 0.86rem;
      width: 2.3rem; }
    .main .content .nolist .tip1, .main .content .nolist .tip2 {
      color: #333;
      text-align: center; }
    .main .content .nolist .tip1 {
      font-size: 0.26rem;
      letter-spacing: -0.72px;
      line-height: 0.31rem;
      margin-top: 0.5rem;
      margin-bottom: 0.11rem; }
    .main .content .nolist .tip2 {
      font-size: 0.24rem;
      letter-spacing: -0.67px;
      line-height: 0.28rem; }
    .main .content .list li {
      line-height: 0.4rem;
      margin: 0.1rem 0.17rem 0.1rem 0.15rem;
      background: #FBF4CB;
      padding: 0 0.13rem; }
      .main .content .list li a {
        font-size: 0.24rem;
        color: #333333;
        letter-spacing: -0.67px; }
      .main .content .list li .uname {
        float: left;
        width: 3.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .main .content .list li .phone {
        float: right; }
    .main .content .list li.active {
      background-color: #FFE338; }
    .main .content .banner {
      margin: 0 -0.65rem;
      position: absolute;
      bottom: 0.59rem; }
      .main .content .banner li {
        float: left; }
      .main .content .banner li.left, .main .content .banner li.right {
        position: relative;
        top: 0.12rem; }
      .main .content .banner em {
        display: inline-block;
        width: 0.65rem;
        height: 0.788rem; }
      .main .content .banner .left em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABPCAMAAABoFOMEAAAAgVBMVEUAAABBIIVAIIZAIYZAIYZBIYVAIIVAIIZBIIZCI4hAIIVAIIZBIYZBIIVQMY9BIYVBIYZBIYdAIIZBIIZAIIZBIIZDIoZnZ81AIIZAIIZAIIVBIYZAIYZBIYdBIYdDIYpEI4xFIoVAIIZBIIZAIIdBIIhDJYdBIIZBIIZmM5lAIIU1MYFOAAAAKnRSTlMAhcDLw4jIxowy8q+Q9wnJlWfu2M+mPwLmtqB4XVRPJRwWvJx+RhHdbgU7kkRtAAABJUlEQVRYw6XYyW7CQBBF0RdjwN1tG4wnBmPMmKT+/wPTSpASpOzuXZfOolalklTVs/SyC6Ft9/vrdR3L8zzLsvl3b/80/ymLxVHFckMp1gdMqFxhQuctJuQKTOjICWWc6BNCwJXqt44TunGiTzGhaYMJDZzQjhOTx4QqTijlxKnAhA6c+KwxoZETSjjhOKHACccJBU50nFDDiYoTpceEWk4cOVF6TGjHiRsn7pw4c0Kc0JYTNSfeObHhRIGJ0jDhOFFxYs2JBSYehomBEwETjwITH4aJGhN3w8QSE6NRom8wURklJo+JYJQY+BnvKVE2Rom9UeJglBiNEl1BCecNEm5jkIgCJDqPfzmFQeKAX2OtQeLUGCRcMnttFVs8Wz5L/5S8dPkCuEtpKc0Km74AAAAASUVORK5CYII=) center no-repeat; }
      .main .content .banner .text {
        width: 5.62rem;
        height: 0.78rem;
        line-height: 0.78rem;
        background-color: #402085;
        text-align: center; }
      .main .content .banner .text a {
        color: #FFF;
        font-size: 0.34rem; }
      .main .content .banner .right em {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABPCAMAAABoFOMEAAAAdVBMVEUAAABAIIVBIYZAIYZAIIVAIIZBIIZAIYZBIYZAIIZAIIZBIIZBIIdCIYVVMptAIIVAIYZBIYVBIIZAIYZBIYZCI4hJKYpBIIZBIIZBIYdFI4ZEI4lAIIZBIYdAIYZCI4ZFJIdBIYdCIoZBIodCIohBIYVAIIUudd2gAAAAJnRSTlMAxIjLyL+Fwovzp82PhAj4u7Gbk2QzEdegUyYe6nZsKxd6WFFA4GRFT5AAAAEhSURBVFjDzdXJasNAEEXRZ9lK1G1F8zw7Tur/PzFChqD93fiumqY4UKtSHMfRUXD08err6PU+/qO9fbQsy6Ious57n+dZeLv7RDJU2wgS0yhIuFqUeIoSD1HCixJtQgk3iBK9KFGKEveEEm4QJSpRIhcl3IaJSpQIRYl0wMQsSlyFiRoTXpRIR0wEooRrMBGIEq7BRClMDJjIhIkeEy7BhBcmek40mGiFiYITCyd6TvxwYuVE/RaLPDlRcSLiRMaJiRM2cqLiRM6JNMGEfXPiwgmrOVFwIh0xYZ4TtnIi5IRVnJg2TFjOCVs4kdaYsN8NE3ZJMGEdJyzihD04YTMnbOaEBZywjhOWNZiwdsWEueO0ZOF/n6cup26nrqfue4v0B+YIM4gzzBf3AAAAAElFTkSuQmCC) center no-repeat; }

.footer {
  background-color: #402085;
  margin-top: -0.3rem;
  position: relative; }
  .footer .content .banner {
    padding-top: 0.87rem;
    margin-left: 2.22rem;
    margin-bottom: 0.5rem; }
    .footer .content .banner li {
      float: left; }
    .footer .content .banner li.left, .footer .content .banner li.right {
      position: relative;
      top: 0.12rem; }
    .footer .content .banner em {
      display: inline-block;
      width: 0.48rem;
      height: 0.58rem; }
    .footer .content .banner .left em {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA6CAMAAADBRyrTAAAAflBMVEUAAAD/5Dn/4zn/5Dj/4zj/5Dj/4zn/5Dj/7T3/5Dn/5Dn/5Dj/5Dj/5Tn/7EX/5Dj/5Dj/5Dj/5Dn/5Dn/5Dj/5Dn/5jj/5Tv/5Dn/5Dj/5Tj/4zr/5Tr/5jr/5jn//1X//4D/4zn/5Dj/4zr/4zv/4zz/4z7/5T7/7Dn/4zjaLzMzAAAAKXRSTlMA/KX1+qj4rRLfq8G4bQ3Szcm8sY+LUjHo4ndlXzs3AwLvnptKQCUdG3WjSpsAAADcSURBVEjHtdS3ksJAEEXRN4ukGY28Axa/BtP//4NQlAIIb8CN+wRdXdWq8qbtiqIvy2EYvPcxpo++3kufxRi9l0ZDSScPgeoWAt3WEOiQQKAtBUopqHMItEogUEWBCgouGQTaUHDsINDKQaBfCq4ZBJooCD8QaENBWECgPwoOFCinYKLgn4JAgb4paCkoKSgoaD69dG0Q7CmoKOghCA6CrUHQQHA2CDoIdsZAvYZg/PC7D7khcOyNgckY2BkDSwfAPE/AMjEEKmcEnEYDSaE0BPbzfd1LyVw2t3jpDtKtSG8zy38lAAAAAElFTkSuQmCC) center no-repeat; }
    .footer .content .banner .text {
      width: 2.11rem;
      height: 0.58rem;
      line-height: 0.58rem;
      background: #FFE338;
      text-align: center; }
    .footer .content .banner .text a {
      color: #402085;
      font-size: 0.32rem; }
    .footer .content .banner .right em {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA6CAMAAADBRyrTAAAAhFBMVEUAAAD/5Dj/4zn/5Dn/4zj/5Dj/5Dj/5Dn/6z7/5Dj/5Dj/5Dj/5Dj/5Dj/5Tn/5Dj/5Dj/5Dj/5Dn/4zn/5Dj/5jj/5Tz/5Tv/60X/5Dj/5Dj/5Dn/5Dj/5Tr/5jn/6Tv//1X//4D/4zn/5Dj/4zr/5Dn/4zr/5Dj/4zv/4z7/8D7/4ziY6sMzAAAAK3RSTlMApvf8+vWp+xLerMG3jGnSzcm8sHJSPjEM5+KzrV84HAMC756bkYl6SiUQ/yuD0QAAAN9JREFUSMe10Tlyg1AQRdFnwOLzmWdkzbY19v73JwICBUpuoBt21Qm6nrbe+9Xc15vms/fbtt1ssqxJ07oqk0KGOouB9sRANQmB9UEIRHsxUIiBlRhIJgaiUQx0YiAVA8Edgk4M1EcGwlEM/ImB4ABBLgZ+HQRXMRA4CP4FwR6CRBDkFNwocBD8CIKKgoyClIJSn37aJgoGCjoKGgpiB4EVFJQU2EBBTYHtKFg/ILCcgniEwBIHgTVHCOxCge0oCHsILO4hsKiHwMKCgbn8BIFlTvpeCl6KluK5cGnZfHgC7VlYiaFku8kAAAAASUVORK5CYII=) center no-repeat; }
  .footer .content .rules {
    margin: 0 0.29rem 0 0.34rem; }
    .footer .content .rules li {
      padding-bottom: 0.6rem; }
    .footer .content .rules li a {
      font-size: 0.28rem;
      color: #FFF;
      line-height: 0.44rem;
      letter-spacing: 0; }
  .footer .content .share {
    display: inline-block;
    width: 4rem;
    line-height: 0.88rem;
    background: #FFE338;
    border-radius: 1rem;
    font-size: 0.38rem;
    color: #402085;
    letter-spacing: 0;
    text-align: center;
    margin-left: 1.75rem;
    margin-bottom: 1.26rem; }
  .footer .content .share0 {
    position: fixed;
    top: 0.19rem;
    right: 0.06rem;
    z-index: 10; }
  .footer .content .share0 img {
    width: 0.8rem; }
  .footer .content .bgs li {
    position: absolute; }
  .footer .content .bgs .first {
    width: 1.16rem;
    right: 0;
    top: 0.7rem; }
  .footer .content .bgs .second {
    width: 1.16rem;
    left: 0;
    top: 5.16rem; }
  .footer .content .bgs .third {
    width: 1.96rem;
    right: 0;
    top: 8.51rem; }
  .footer .content .bgs .fourth {
    width: 1.56rem;
    left: 0;
    top: 13rem; }
  .footer .content .bgs .fifth {
    width: 0.8rem;
    right: 0;
    bottom: 0; }
