<% include public/header.ejs %>
    <section class="not-find">
        <span class="notfind-pic"></span>
        <p class="notfind-para">Uh~ The server is too tired,engineers are trying to wake up, Please later...</p>
    </section>
<% include public/footer.ejs %>
