<% include public/header.ejs %>
<section class="not-find">
    <span class="notfind-pic"></span>
    <p class="notfind-para"> System internal error</p>
    <a class="btn-not" href="/">CONTINUE</a>
</section>
<% include public/footer.ejs %>
