<section class="not-find" id="null">
    <span class="notfind-pic"></span>
    <h5 class="notfind-title">Sorry, no results</h5>
    <p class="notfind-para">Please check your spelling or modify your search terms</p>
    <!--<a class="btn-not" href="/">CONTINUE</a>-->
</section>