//based on prefix() API;
//Arhtor: ZYZ

/*--------黄色背景--------*/
$yellow:#FFD022;
$dis-yellow:#FFE37B;

/*--------字体颜色--------*/
$color-normal:#666;
$color-deep:#333;
$color-light:#999;
$color-brown:#B26200;

/*--------分割线色--------*/
$hr:#e4e4e4;

/*--------底色--------*/
$bg:#f6f6f6;
